/*
  WARNING: These global selectors MUST be moved to a global CSS file (e.g., index.css)
  if you want them to apply to your entire app.
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #000;
    font-size: 14px;
}